@charset "utf-8";
// If need, change your variables before importing Bulma
$title-color: #ff0000;

$midnight-blue: #1a315b;

$primary: $midnight-blue;

@import "~bulma/bulma.sass";


#nav-toggle-state {
  display: none;
}

#nav-toggle-state:checked ~ .nav-menu {
display: block;
}